@charset "utf-8";

                    /* Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 3em;
    text-align: center;
    margin: 100px 0;
}

                    /* Header */

#header{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin-left: 10px;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
#menu a{
    color: white;
    padding: 10px;
}

                    /* Flex1 */

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 992px;
    margin: 0 auto;
    justify-content: center;
    align-items: end;
}    
.flex-item{
    flex: 30%;
    margin: 10px;
    min-width: 200px;
}                
.subir{
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    color: black;
    position: fixed;
    top: 90%;
    right: 5%;
}
@media (max-width: 600px){
    #menu a{
        width: 100%;
    }
    #logo img{
        width: 100%;
        justify-self: center;

    }
    #header, #menu li{
        text-align: center;
        flex-direction: column;
        height: auto;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 290px){
        #header, #menu li{
            width: 100%;
        }
    }
}
footer{
    margin-top: 100px;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}